body { background: #b423fc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 36px; display: flex; }
.block-token-0 { color: #d877e7; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #bd5d3; font-size: 21px; margin-bottom: 5px; }
.block-router-2 { color: #265f0e; font-size: 19px; margin-bottom: 5px; }
.block-payment-3 { color: #d7a269; font-size: 12px; margin-bottom: 5px; }
.block-sms-4 { color: #cab095; font-size: 19px; margin-bottom: 5px; }
.block-cart-5 { color: #1a4d5; font-size: 18px; margin-bottom: 5px; }